.side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(17, 89, 245);
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 4em;
    opacity: 0.8;
    position: fixed;
}
.container-background {
    

    display: inline;
    

}
.top-section {
    display: flex;
    height: 300px;
    justify-content: left;
    flex-direction: row;
    box-shadow: 0px 0px 5px;
    margin-left: 210px;
    margin-right: 10px;
    overflow: scroll;
}
.bottom-section {
    display: flex;
    background-color: white;
    justify-content: left;
    margin-top: 5em;
    box-shadow: 0px 0px 10px;
    margin-left: 210px;
    margin-right: 10px;
    border-radius: 10px;
    height: 500px;
    overflow: scroll;
}
.scrolling-wrapper {
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
   }
    .card-custom {
        min-width: 200px;
      display: flex;
      flex-direction: row;
      margin: 1em;
      height: 225px;
      min-width:200px;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
      background-color: rgb(53, 62, 71);
      color: rgb(228, 227, 227);
    }
    .card-body-custom{
        flex: auto;
        min-height: 200px;
        padding: 1rem;
    }
    .image {
        border-radius: 50%;
        margin-bottom: 2em;
        margin-left: .5em;
    }
    ul{
        margin-left: -36px;
    }
    .page-center{
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding:0;
        padding-right: 1em;
        margin-left: -11em;
       
    }

    .jumbotron-custom{
        padding: 2rem 1rem;
    margin-bottom: 0;
    margin-top: -1.5em;
    margin-left: 11em;
    margin-right: -1em;
    background-color: #e9ecef;
    border-radius: .3rem;
    text-align: center;
    }
    .overflow {
        overflow: scroll;
        
    }
    .flex-events {
        display: flex;
        flex-wrap: wrap;
    }
    .body {
        background-color: rgb(14, 52, 102);
        color: white;
    }
    .card-padding {
        padding-top: 1.5em;
    }
    .container-body {
        background-color: #012840;
    }
 .position {
     position: relative;
     width: 300px;
     padding: 1em;
 }
 .bucket {
    height: 550px;
    display: flex;
    background-color: white;
    margin-top: 5em;
    box-shadow: 0px 0px 10px;
    margin-left: 210px;
    margin-right: 10px;
    border-radius: 1%;
    overflow: scroll;
    justify-content: center;
}
.center-interests {
    margin-left: 49%;
    font-size: 50px;
}
.center-pagination {
    margin-left: 49%;
    margin-left: -10%;
}
.product-box {
    height: fit-content;
    width: max-content;
}
.product-card-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -75%;
    height: 800px;
    font-size: 10px;
    overflow: scroll;
}
.product-box::-webkit-scrollbar{
    display: none;
}
.chart-size {
    margin-left: 25%;
    display: inline;
    display: flex;
    height: 20vh;
    width:50vw;
}
.chart{
    flex: 1;
}
.chart2 {
    margin: 1em;
    flex:1;
    background-color: rgb(0, 10, 43);
    height: 150px;
    padding: 5px;
    
}
.chart2:hover{
    box-shadow: turquoise 0px 0px 1500px;
}
.buckets{
    margin-left: 40%;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    margin-bottom: 2em;
}
