.card-shadows {
    border: black solid 1px;
    border-radius: 3%;
    box-shadow: 0px 0px 10px;
    padding-left: 5px;
}
.card-shadows:hover{
    box-shadow: 0px 0px 20px;
}
.drop-zone {
    height: 200px;
    width: 200px;
}
.image-size {
    height:100px;
    width:100px
}
.stack {
    display: grid
}
.stack > * {
    grid-row: 1;
    grid-column: 1;
}
.stack2 {
    display: grid
}
.stack2 > * {
    grid-row: 1;
    grid-column: 1;
}

.amazon-card {
    height: 300px;
    width: 300px;
}
.card-custom {
    height: auto;
}
.center-card {
    
    text-align: center;
}
.dnd-img {
    border-radius: 50%;
    margin-bottom: 2px;
    height: 200px;
    width: 200px;
    margin-bottom: 2px;
    box-shadow: turquoise 0px 0px 4px;
}
.dnd-img:hover {
    box-shadow: rgb(96, 224, 64) 0px 0px 80px;
}
.cus-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: black 0px 0px 5px;
    color: black;
}