.background-image-jumbo {
    background-image: url("../../assets/images/bluepink.jpg");
    height: auto;
    width: auto;
}
.fixed {
    position: fixed;
}
.move-links-up{
    margin-top: -1em;
}
.image-size {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px;
}
.text {
    color: rgb(250, 250, 250);
}